:root {
    --prize-message-1: "Йее! Вы только что зацепили любые кроссовки на нашем сайте! Мы оплачиваем всё — так что бегом выбирайте свою пару!";
    --prize-message-2: "Поздравляем! Вы выиграли носки от Nike! Теперь ваши ноги будут в полном комфорте и стиле.";
    --prize-message-3: "Ух ты! Вам повезло — вы получили дополнительную скидку +15% к уже действующей скидке. Теперь шопинг станет еще приятнее!";
    --prize-message-4: "ВПоздравляю! Вы выиграли любые очки на нашем сайте. Выбирайте те, что вам нравятся, и наслаждайтесь новым образом!";
    --prize-message-5: "Огонь! Ты только что выиграл любую куртку на нашем сайте! Теперь выбирай ту, что больше всего заходит, и будь готов к любым приключениям!";
    --prize-message-6: "Йес! Ты получил дополнительный кэшбэк +10% к уже существующей скидке! Так что теперь шопиться будет ещё выгоднее!";
    --prize-message-7: "Бам! Ты только что выиграл любую кофту, свитшот, зипшот или толстовку на нашем сайте! Теперь выбирай то, что лучше всего подчеркнет твой стиль!";
    --prize-message-8: "Зачёт! Ты получил допскидку +5% к уже действующей скидке! Теперь шопинг будет ещё круче!";
}
