/* Стили для body */
body {
    font-family: 'Montserrat', sans-serif; /* Использование шрифта Montserrat */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #2f4358, #1f1c1f, #15181f); /* Градиент с тремя цветами */
    background-size: 400% 400%; /* Размер градиента для анимации */
    animation: gradientAnimation 10s ease infinite; /* Анимация градиента */
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Стиль хейдера */
header {
    width: 100%;
    opacity: 70%;
    background-color: #151a23;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header img {
    height: 50px;
    vertical-align: middle;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    display: inline;
}

/* Настройка ячейки рулетки */
#roulette-container {
    position: relative;
    width: 1200px;
    max-width: 1200px;
    height: 300px;
    overflow: hidden;
    align-items: center;
    margin: 50px auto;
    box-sizing: border-box;
}

svg {
	will-change: transform;
    position: absolute;
    top: 0;
    left: 0;
}

/* Настройка указателя рулетки */
.pointer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 23.5px;
    height: 400px;
    z-index: 10;
    filter: drop-shadow(0 0 5px red);
    overflow: visible;
}

/* Стили для кнопки */
button {
    padding: 30px 90px;
    font-family: 'Montserrat', sans-serif; /* Использование шрифта Montserrat */
    font-size: 24px;
    background-color: #ff4c4c; /* Красный цвет */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(-20deg);
    transition: left 0.5s;
    animation: shine 2s infinite;
}

@keyframes shine {
    0% {
        left: -75%;
    }
    100% {
        left: 125%;
    }
}

button:hover {
    background-color: #33cc66; /* Зеленый ховер*/
}

/* Стили для footer */
footer {
    width: 100%;
    background-color: #151a23;
    opacity: 70%;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-weight: 300;
    position: absolute;
    bottom: 0;
}

footer a {
    color: #42526f;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Сообщение о победе */
#win-message {
    font-size: 16px;
    color: #fff;
    font-weight: medium;
    text-align: center;
	margin-padding: 60px:
}


/* Модальное окно выигрыша*/
.hidden {
    display: none;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #01080f;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    text-align: center;
}

#popup img {
    max-width: 80%;
    height: auto;
    margin-bottom: 10px;
}

#popup button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#popup button:hover {
    background-color: #0056b3;
}
